.App {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.table_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header {
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.error_container {
	width: 750px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	font-size: 6rem;
	height: 500px;
	width: 100%;
	color: red;
}
.create_todo {
	width: 750px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.MuiPagination-root {
	margin-top: 5rem;
}

.loading .header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem;
}
.loading.tale {
}
.loading .pagination {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.completed {
	background-color: rgb(232, 255, 237);
}
